<p id="notice"><%= notice %></p>

<p>
  <strong>Creador:</strong>
  <%= @comment.Creador %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @comment.Comentario %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
