<div class="container">
<p id="notice"><%= notice %></p>
<br>
<%= link_to 'Volver a inicio', entries_path, class: "btn btn-link" %>

<h1 class="text-center">

  <%= @entry.Titulo %>
</h1>

<h4 class="text-center"><em>
  <%= @entry.Bajada %>
</em></h4>

<p style="font-size:x-small"><em>
  <%= 'Noticia publicada con fecha ' %><%= @entry.created_at %>
</em></p>

<p>
  <%= @entry.Cuerpo %>
</p>

<% if current_user != nil %>
<%= link_to 'Edit', edit_entry_path(@entry) %>
<%end%>
<br>

<div class=" col-md-9 col-lg-5 ">
<hr class="featurette-divider">
<style>
        .well {
            background-color: rgb(193, 196, 196);
        }
    </style>
<div class="well well-sm">
<h2>Comentarios</h2>
</div>

<div>
  <% @entry.comments.each do |comment| %>
    <div>
      <h4><%= comment.Creador %></h4>
      <p><%= comment.Comentario %></p>
      <hr />
    </div>
  <%end%>
</div>

  <h3>Agrega un comentario:</h3>
   <div class="form-group">
      <div>
      <%= form_for(@comment) do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% @comment.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :Nombre %>
          <%= f.text_field :Creador, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :Comentario %>
          <%= f.text_area :Comentario, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.hidden_field :entry_id %>
        </div>

        <br>
        <div class="actions">
          <%= f.submit class: 'btn btn-primary'%>
        </div>
      <% end %>

</div>

</div>
